
	
	body {
		margin: 0;
		padding: 0;
		font-family: 'Dancing Script';
	}
	
	nav {
		width: 100%;
		height: 80px;
		font-family: Dancing Script;
	}
	
	
	.nav-item {
		margin-left: 20px;
	}
	
	button {
		background-color: yellow;
	}
	
	#search {
		margin-top: 10px;
		width: 400px;
		margin-right: 350px;
	}
	
	#section {
		background-color: #eaa67c;
		width: 100%;
		height: 80px;
		color: white;
		text-align:center;
		padding-top: 15px;
		margin-top: 20px;
		
	}
	
	#ssection {
		background-color: yellow;
		color: black;
	}
	
	#myCarousel {
		width: 100%;
		background-color: white;
	}
	
	.carousel-caption {
		bottom: 3rem;
		z-index: 10;
		
	}

	#carousel-item-1 {
		height: 50rem;
	}
	.carousel-item {
		height: 50rem;
		background-color: #777;
	}
	.carousel-item > img {
		position: absolute;
		top: 0;
		left: 0;
		width: 1500px;
	}
	
	.carousel-control-prev-icon {
		margin-right: 100px;
	}
	
	.carousel-control-next-icon {
		margin-left: 100px;
	}
	
	footer {
		background-color:  #343A40;
		width: 100%;
		color: white;
		padding: 0px;
		font-family: 'Dancing Script';
		font-size:110%;
	}
	
	footer a {
		color: white;
		font-size: 100%;
		font-family: Times;
	}
	
	footer a:hover {
		text-decoration: none;
		color: #0a8dd8;
	}
	
	#footer2 {
		margin-top:20px;
	}
	#footer3 {
		margin-top:20px;
	}
	
	.footer-copyright {
		color: #848484;
	}
		
	
	.card {
		transform-style:  preserve-3d;
		position: absolute;
		perspective: 900px;
	}
	
	.card .front {
		position: absolute;
		background:white;
		backface-visibility: hidden;
		opacity: 1;
		visibility: visible;
		transition: 1s opacity, 1s visibility;
	}
	
	.card .back {
		background-color:white;
		opacity: 0;
		visibility: hidden;
		transition: 1s opacity, 1s visibility;
		width: 100%;
	}
	
	.card:hover .front {
		opacity: 0;
		visibility: hidden;
	}
	
	.card:hover .back {
		opacity: 1;
		visibility: visible;
	}
	
	.card .back .details {
		background:white;
		width: 100%;
		height: 668px;
		color: #343A40;
		text-align: center;
		padding-top: 200px;
	}
	
	#copyright {
		text-align: right;
		margin-right: 20px;
		font-size: 110%;
	}
	
	a {
		font-size: 120%;
	}
	
	.navbar-collapse {
		background-color: #343A40;
		padding-left: 15px;
	}
	
	@media(max-width: 50em) {
		#section {
			height: 200px;
			background-color: #FF6631;
			width: 100%;
			color: black;
			text-align:center;
			padding-top: 15px;
			margin-top: 20px;
		}
	}
	
	@media(max-width: 70em) {
		#section {
			height: 200px;
			background-color: #FF6631;
			width: 100%;
			color: black;
			text-align:center;
			padding-top: 15px;
			margin-top: 20px;
		}
		#copyright {
		text-align: center;
		font-size: 110%;
		margin-left: 20px;
	}
	}
	
	@media (min-width: 768px) {
		.dropdown:hover .dropdown-menu{
			margin-top:0;
			display:block;
			width: 700px;
		}
	}
	
	.image-container {
		margin-left: 300px;
		width:450px;
		height: 650px;
	}
	
	@media (max-width: 768px) {
		.image-container {
			margin-left: 0px;
			margin-top: 90px;
			width: 450px;
			height: 650px;
			
		}
		
	
			#stopka-1 {
			margin-left: 220px;
			margin-top: 120px;
			float: left;
			position: absolute;
	}
	
			#stopka-2 {
			float: left;
			margin-top: 220px;
			position: absolute;
			margin-left: 220px;
	}
	
			#stopka-3 {
			float: left;
			margin-top: 320px;
			position: absolute;
			margin-left: 220px;
	}
	}
	
	#price-description {
		margin-left: 790px;
		margin-top: -500px;
	}
	
	@media (max-width: 768px) {
		#price-description {
		margin-left: 60px;
		margin-top: 70px;
		}
	}
	
	@media (max-width: 768px) {
		#kupit {
			height: 70px;
			font-size: 130%;
		}
	}
	#catalog-album {
		margin-top: 300px;
	}
	
	#stopka-0 {
			margin-left: 220px;
			margin-top: 20px;
			float: left;
			position: absolute;
	}
	
		@media (max-width: 768px) {
			#stopka-0 {
			margin-left: 50px;
			margin-top: -15px;
			float: left;
			position: absolute;
			width: 80px;
			height: 100px;
		}
	}
	
	#stopka-1 {
			margin-left: 220px;
			margin-top: 120px;
			float: left;
			position: absolute;
	}
	
	@media (max-width: 768px) {
				#stopka-1 {
			margin-left: 150px;
			margin-top: -15px;
			float: left;
			position: absolute;
			width: 80px;
			height: 100px;
		}
	}
	
	#stopka-2 {
			float: left;
			margin-top: 220px;
			position: absolute;
			margin-left: 220px;
	}
	
			@media (max-width: 768px) {
			#stopka-2 {
			margin-left: 250px;
			margin-top: -15px;
			float: left;
			position: absolute;
			width: 80px;
			height: 100px;
		}
	}
	
	#stopka-3 {
			float: left;
			margin-top: 320px;
			position: absolute;
			margin-left: 220px;
	}
	
			@media (max-width: 768px) {
			#stopka-3 {
			margin-left: 350px;
			margin-top: -15px;
			float: left;
			position: absolute;
			width: 80px;
			height: 100px;
		}
	}

	
	#card-catalog {
		float: left;
		width: 18rem;
		margin-left: 40px;
		margin-bottom: 30px;
		height: 40rem;
	}
	
	#list {
		padding-right: 20px;
		width: 55px;
		height: 55px;
		color: white;
	}
	

	
	#block {
		height: 100%;
		width: 250px;
		position: absolute;
		z-index: 1;
		font-size: 80%;
		margin-top: 40px;
		background-color: #343A40;
		color: white;
		opacity: 0.93;
		display: block;
		-webkit-transition: 0.7s ease-in-out;
		position:fixed;
		margin-left: -250px;
	}
		

	#block a:hover {
		background-color: #343A40;
		text-shadow: 3px 1px #5F5F5F;
		margin: 5px;
	}
	
	#block a {
		margin: 10px 0 10px 0;
		font-size: 130%;
	}
	
	#forma {
		width: 500px;
		height: 500px;
		margin-left: 430px;
		margin-top: 200px;
	}
	
	#pusto {
		width: 100%;
		height: 100%;
	}

	#block-main {
		height: 100%;
		width: 250px;
		position: absolute;
		z-index: 1;
		font-size: 80%;
		padding-top: 80px;
		background-color: #343A40;
		color: white;
		opacity: 0.93;
		display: block;
		-webkit-transition: 0.7s ease-in-out;
		position:fixed;
		margin-left: -250px;
	}
	#block-main a:hover {
		background-color: #343A40;
		text-shadow: 3px 1px #5F5F5F;
		margin: 5px
	}
	
	#block-main a {
		margin: 10px 0 10px 0;
		font-size: 130%;
	}

	
	#block-account {
		height: 100%;
		width: 250px;
		position: absolute;
		z-index: 1;
		font-size: 80%;
		background-color: #343A40;
		color: white;
		margin-top: -120px;
		opacity: 0.93;
		display: block;
		-webkit-transition: 0.7s ease-in-out;
		position:fixed;
		margin-left: -250px;
	}
	
	#block-account a:hover {
		background-color: #343A40;
		text-shadow: 3px 1px #5F5F5F;
		margin: 5px
	}
	
	#block-account a {
		margin: 10px 0 10px 0;
		font-size: 130%;
	}
	
	#block-product {
		height: 100%;
		width: 250px;
		position: absolute;
		z-index: 1;
		font-size: 80%;
		background-color: #343A40;
		color: white;
		margin-top: 0px;
		opacity: 0.93;
		display: block;
		-webkit-transition: 0.7s ease-in-out;
		position:fixed;
		margin-left: -250px;
	}
	
	#block-product a:hover {
		background-color: #343A40;
		text-shadow: 3px 1px #5F5F5F;
		margin: 5px
	}
	
	#block-product a {
		margin: 10px 0 10px 0;
		font-size: 130%;
	}
	
	@media (max-width: 768px) {
		#block-main {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		font-size: 110%;
		margin-top: 40px;
		background-color: #343A40;
		color: white;
		display: none;
		margin-top: 0px;
		}
		
		#block {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		font-size: 110%;
		margin-top: 40px;
		background-color: #343A40;
		color: white;
		display: none;
		margin-top: 40px;
		}
		
			#block-product {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		font-size: 110%;
		margin-top: 40px;
		background-color: #343A40;
		color: white;
		display: none;
		margin-top: 0px;
		}
		
			#block-account {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		font-size: 110%;
		margin-top: 40px;
		background-color: #343A40;
		color: white;
		display: none;
		margin-top: -120px;
		}
		
	}
	
	.hover {
		transform: translate(250px,0)
	}